server:
  port: 8080
  use-forward-headers: true
  tomcat:
    remote-ip-header: x-forwarded-for
    max-threads: 100

spring:
  application:
    name: Backend Project
  jpa:
    open-in-view: false
  flyway:
    enabled: true
    locations: ['classpath:db/migration']
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/backend_project?createDatabaseIfNotExist=true
    username: root
    password: password
